.info-container {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-header {
    background: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;  
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 15px;
}

.info-text {
    padding: 0 10px 10px 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 910px) {
    .info-container{
        margin: 30px auto;
    }
}
@media screen and (max-width: 768px) {
    .info-container{
        margin: 30px 5%;
    }
}