.admin-dashboard {
    text-align: center;
    padding: 100px 10% 30px 10%;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.admin-dashboard h2 {
    font-size: 35px;
    font-weight: bold;
}

.welcome-img {
    width: 300px;
    height: 300px;
    max-width: 90%;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto 10px;
}

.welcome-text {
    font-size: 25px;
    margin-bottom: 30px;
}

.dashboard-stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.dashboard-card {
    flex: 1 1 200px;
    max-width: 250px;
    min-width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.card-value,
.card-label {
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .admin-dashboard {
        margin-left: 0;
        padding: 100px 5% 30px 5%;
    }
}

@media screen and (max-width: 500px) {
    .dashboard-stats {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-card {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 430px) {
    .dashboard-stats {
        flex-direction: column;
    }
}